<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- 인코딩 및 타이틀 -->
	<meta charset="utf-8"/>
	<title> 예제 </title>

    <!-- Css -->
    <link rel="stylesheet" href="../static/css/example.css">

    <!-- 폰트 어썸 -->
    <script src="https://kit.fontawesome.com/52c8e90544.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- 네비게이션 -->
  <section>
    <nav>    
        <div class="navbar">
           <a href="main.html" class="nav-container"><i class="fa-solid fa-house"><br><br>메인화면</i></a>
           <a href="map.html" class="active nav-container"><i class="fa-solid fa-map-location-dot"><br><br>지도검색</i></a>
           <a href="#" class="nav-container"><i class="fa-solid fa-mask"><br><br>헤어필터</i></a>
          {% if nickname %}
              <a href="favorites.html" class="nav-container"><i class="fa-solid fa-star"><br><br>즐겨찾기</i></a>
          {% else %}
              <a href="login.html" class="nav-container"><i class="fa-solid fa-user"><br><br>즐겨찾기</i></a>
          {% endif %}

          {% if nickname %}
              <a href="information.html" class="nav-container"><i class="fa-solid fa-user"><br><br>정보수정</i></a>
          {% else %}
              <a href="login.html" class="nav-container"><i class="fa-solid fa-user"><br><br>로그인</i></a>
          {% endif %}
         </div>
     </nav>
   </section>
   <!-- 네비게이션 -->

</body>
</html>