<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- 인코딩 및 타이틀 -->
	<meta charset="utf-8"/>
	<title> StyleHC 필터 </title>

    <!-- Css -->
    <link rel="stylesheet" href="../static/css/image.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">

    <!-- 폰트 어썸 -->
    <script src="https://kit.fontawesome.com/52c8e90544.js" crossorigin="anonymous"></script>

    <!-- 자바 스크립트 -->
    <script type="module" src="../static/js/image.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    
    <!-- jquery -->
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>
<body>
<div class="body">

<!-- 로그인 정보 확인 -->
  <div class="user-info">
    {% if nickname %}
        <p style="font-family: Arial, sans-serif; color: #333; font-size: 18px;">
            <span style="font-weight: bold;">어서오세요, {{ nickname }}님!</span>
            <a href="/logout" style="text-decoration: none; color: #AD8B73; margin-left: 10px;">로그아웃</a>
        </p>
    {% else %}
        <p style="font-family: Arial, sans-serif; color: #333; font-size: 18px;">
            로그인 되지 않았습니다.
        </p>
    {% endif %}
</div>


    <!-- 로고 및 검색기능 -->

    <div class="container-fluid">
        <div class="banner_main">
            <div class="container">
                <div><a href="#"><img src="../static/img/logo.png" class="logo"></a></div>
            </div>
        </div>
    </div>

<!-- 로고 및 검색기능 끝 -->



    <h1 class="main-h1">나만의 스타일 찾기!</h1>
    <div class="button-container">
    <button id="fetchButton" class="select-btn">조회</button>
    </div>
    <div class="body-table">
    <table border="1">
    <thead>
        <tr class="table">
            <th>번호</th>
            <th>파일명</th>
            <th>아이디</th>
            <th>사업자 등록 번호</th>
            <th>스타일</th>
            <th>선택</th>
        </tr>
    </thead>
    <div class="next-btng">
    <button id="prevPage" class="next-btn">이전</button>
    <button id="nextPage" class="next-btn">다음</button>
    </div>
    <tbody id="imagesTableBody">
        <!-- 여기에 이미지 데이터가 채워집니다 -->
    </tbody>    
</table>
</div>

  <hr>

<h1 class="main-h1">선택한 스타일 확인!</h1>
<div class="body-check">
<img id="compositeImage" src="" alt="Composite Image" class="image-read">
</div>

  <hr>

<h1 class="main-h1">내 사진에 시뮬레이션!</h1>
<h2 class="main-h2">★주의사항★<br>앞머리를 뒤로 넘겨 정리한 사진이여야 합니다. <br> 정면에서 찍은 사진이여야 합니다.<br> 아무런 반응이 없다면 스타일 찾기에서 원하는 스타일을 선택해주세요. <br> 선택 하셨다면 방향키를 눌러보세요 선택하신 헤어가 나옵니다.</h2>
<div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="removeUpload()"> 다시하기! </button>
        <div class="image-upload-wrap">
          <input class="file-upload-input" type='file' name="file" onchange="readURL(this);" accept="image/*" />
          <div class="drag-text">
            <h3>드래그 앤 드랍으로 이미지를 넣어주세요</h3>
          </div>
        </div>
    
        <div class="file-upload-content">
          <div class="segmentOnClick">
            <canvas id="canvas" class="canvas"></canvas>
            <canvas id="overlayCanvas" class="overlayCanvas" style="width: 300%;"></canvas>
            <img class="file-upload-image" src="#" alt="your image" crossorigin="anonymous" title="Click to get segmentation!"/>
            <div class="image-title-wrap">
            </div>
          </div>
        </div>
      
        <!-- 숨겨진 input 필드 추가 -->
        <input type="hidden" name="filename" id="filename" value="" />
    
    
    <script>
        // canvas의 데이터를 설정하는 함수
        function setCanvasData() {
            let canvas = document.querySelector('.transformer');
            let dataURL = canvas.toDataURL("image/png");
            document.getElementById('filename').value = dataURL;
        }
    </script>
    
    
</div>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

// function removeUpload() {
//   $('.file-upload-input').replaceWith($('.file-upload-input').clone());
//   $('.file-upload-content').hide();
//   $('.image-upload-wrap').show();
// }

// $('.image-upload-wrap').bind('dragover', function () {
//     $('.image-upload-wrap').addClass('image-dropping');
// });
// $('.image-upload-wrap').bind('dragleave', function () {
//     $('.image-upload-wrap').removeClass('image-dropping');
// });
function removeUpload() {
  location.reload();
}

</script>

</section>

</div>

<div id="buttonContainer" style="display: none;">
<div class="btn-select1">
<button id="increaseSize" class="btn-mapper"><img src="../static/img/filter/size_up.png" class="mapper"></button>
<button id="moveUp" class="btn-mapper"><img src="../static/img/filter/up.png" class="mapper"></button>
<button id="decreaseSize" class="btn-mapper"><img src="../static/img/filter/size_down.png" class="mapper"></button>
</div>

<div class="btn-select2">
<button id="moveLeft" class="btn-mapper"><img src="../static/img/filter/left.png" class="mapper"></button>
<button id="moveDown" class="btn-mapper"><img src="../static/img/filter/down.png" class="mapper"></button>
<button id="moveRight" class="btn-mapper"><img src="../static/img/filter/right.png" class="mapper"></button>
</div>
</div>

    <!-- 네비게이션 -->
  <section>
    <nav>    
        <div class="navbar">
           <a href="main.html" class="nav-container"><i class="fa-solid fa-house"><br><br>메인화면</i></a>
           <a href="map.html" class="nav-container"><i class="fa-solid fa-map-location-dot"><br><br>지도검색</i></a>
           {% if nickname %}
           <a href="image.html" class="active nav-container"><i class="fa-solid fa-mask"><br><br>헤어필터</i></a>
           {% else %}
           <a href="login.html" class="nav-container"><i class="fa-solid fa-mask"><br><br>헤어필터</i></a>
           {% endif %}
 
           {% if nickname %}
               <a href="personal.html" class="nav-container"><i class="fa-solid fa-star"><br><br>퍼스널컬러</i></a>
           {% else %}
               <a href="login.html" class="nav-container"><i class="fa-solid fa-user"><br><br>퍼스널컬러</i></a>
           {% endif %}
 
           {% if nickname %}
               <a href="information.html" class="nav-container"><i class="fa-solid fa-user"><br><br>정보수정</i></a>
           {% else %}
               <a href="login.html" class="nav-container"><i class="fa-solid fa-user"><br><br>로그인</i></a>
           {% endif %}
         </div>
     </nav>
   </section>
   <!-- 네비게이션 -->
</body>

<!-- Copyright 2023 The MediaPipe Authors.

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. -->

</html>