<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR</title>
    <style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFBE9;
  overflow-x: hidden;
}
.container {
    text-align: center;
}
    </style>
</head>
<body>
    <div class="container">
    <h1>Style HC 프로젝트 헤조</h1>
    <h2>아이폰 다운로드</h2>
    <img src="../static/img/qr.PNG" style="width: 150px; height: 100%;">
    <h2>안드로이드 다운로드</h2>
    <a href="https://expo.dev/artifacts/eas/q4JYck6NWdk5N1Nx2nGeEU.apk">APK 다운로드</a>
</div>
</body>
</html>